.home .container{
    position:relative;
    min-height:calc(100vh - 250px);
    overflow-x: hidden;
    display: block;
    top:22px;
    padding: 0 calc(3.5vw - 5px);
    width: 70%;
    height:35vh;
    right: 17rem;
    top: 4rem;
}
.home{
    margin-left: 10rem;
    /* margin-right: 10rem; */
    margin-bottom: 5rem;
    display: flex;
}
