.big-post {
    background-size: cover !important;
    min-height: 350px;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    border-radius: 10px;
    // box-shadow: 5px 5px 20px #000000b3;

    .post-container{

        h4{
            color: white;
            padding-right: 10rem;
            margin-bottom: 5px;
        }
        p{
            color: white;
            margin-bottom: 5px;
        }
    }
}