/* form input item style start here */
.contact {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.form {
  position: relative;
  color: black;
  z-index: 3;
}

.contact::before {
  content: "";
  background-image: url(./img/hand.png);
  background-size: 475px 475px;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.05;
  z-index: 2;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: #c4c4c4;
  opacity: 0.1;
}

.titleContact {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 20px;
}

.input-one {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}
.input-two {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 80px;
}

.input-item {
  position: relative;
}

.label {
  position: absolute;
  left: 40px;
  top: 30px;
  font-size: 1px;
  text-transform: uppercase;
  transition: all 300ms;
  opacity: 0;
}
.labelFocus {
  position: absolute;
  left: 2%;
  top: -15%;
  border-radius: 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  background-color: #191e3b;
  padding: 3px;
  color: white;

  transition: all 400ms;
  opacity: 1;
}

.labelFocusMsg {
  position: absolute;
  left: 2.5%;
  top: -10%;
  border-radius: 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  background-color: #191e3b;
  padding: 3px;
  color: white;

  transition: all 400ms;
  opacity: 1;
}

.label-msg {
  position: absolute;
  left: 2%;
  top: 20%;
  text-transform: uppercase;
  opacity: 0;
}
#name {
  height: 50px;
  width: 380px;
  padding: 15px;
  border: 1px solid black;
  background-color: inherit;
}

.right-side {
  float: right;
}
#textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  background-color: inherit;
  outline: none;
}

.submit-btn {
  text-align: center;
}

.submit-btn button {
  width: 135px;
  height: 55px;
  background-color: #575a89;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 22px;
}
/* form input item style ends here  */

/* card items style start here */
.background {
  margin-bottom: 30px;
}

.emails {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  padding-left: 70px;
  padding-top: 40px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}

.cardHead {
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-weight: 500;
}
.cardHead::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 45%;
  background-color: black;
}

.details {
  padding-top: 20px;
}

.details a {
  text-decoration: none;
  color: black;
}
.details a:hover {
  color: #37469b;
}
.icons {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 40px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}
.social {
  padding-top: 20px;
}
.page {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  padding-left: 8px;
  padding-top: 40px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}
.zoom {
  transition: all 0.3s;
}
.zoom:hover {
  transform: scale(1.06);
  transition: all 0.2s;
}
/* card items style ends here */

/* form input item style for tablet start here */
@media only screen and (max-width: 1050px) {
  #name {
    height: 50px;
    width: 250px;
    padding: 15px;
    border: 1px solid black;
    background-color: inherit;
  }

  .labelFocusMsg {
    position: absolute;
    left: 3.5%;
    top: -10%;
    border-radius: 10px;
    font-size: 0.7rem;
    text-transform: uppercase;
    background-color: #191e3b;
    padding: 3px;
    color: white;

    transition: all 400ms;
    opacity: 1;
  }
}
/* form input item style for tablet ends here */

/* form input item style for mobile device start here */
@media only screen and (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    text-transform: uppercase;
    height: 60px;
  }

  .contact::before {
    content: "";
    background-image: url(./img/hand.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.05;
    z-index: 2;
  }
  .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: #c4c4c4;
    opacity: 0.1;
  }

  .input-one {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .input-two {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 38px;
    margin-bottom: 30px;
  }
  /* .label-msg {
    position: absolute;
    left: 10%;
    top: 20%;
    text-transform: uppercase;
    opacity: 0;
  } */
  #name {
    height: 50px;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    background-color: inherit;
    outline: none;
  }
  .right-side {
    float: none;
  }
  .submit-btn button {
    width: 120px;
    height: 45px;
    background-color: #575a89;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 22px;
  }

  #textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    background-color: inherit;
    outline: none;
  }
  .labelFocus {
    position: absolute;
    left: 4%;
    top: -15%;
    border-radius: 10px;
    font-size: 0.7rem;
    text-transform: uppercase;
    background-color: #191e3b;
    padding: 3px;
    color: white;

    transition: all 300ms;
    opacity: 1;
  }
  .labelFocusMsg {
    position: absolute;
    left: 8%;
    top: -10%;
    border-radius: 10px;
    font-size: 0.7rem;
    text-transform: uppercase;
    background-color: #191e3b;
    padding: 3px;
    color: white;

    transition: all 400ms;
    opacity: 1;
  }
}
/* form input item style for mobile device ends here */
