.Allslider .slider-dis{
    max-width: 550px;
    width: 100%;
    text-align: left;
    color: white;
}
.Allslider .slider-title{
    text-align: left;
    color: white;
}
.Allslider .slider{
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index:9 !important;
}
.Allslider .swiper-slide{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: relative;
    padding:200px 00px 200px 100px !important;
}
.Allslider .swiper-slide:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.596);
    left: 0;
    top: 0;
    z-index: 1 !important;
}



.Allslider .swiper-container {
  width: 100%;
  /* height: 100vh; */
}

.Allslider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  cursor: grab;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items:flex-start;
  align-items:flex-start;
  padding: 100px;
}

.Allslider .swiper-slide img {
  display: block;
  width: 100%;
  /* height: 742px !important; */
  object-fit: cover;
}

.Allslider .swiper-container {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-prev,.swiper-button-next {
  background-color: #282a67;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.swiper-button-prev:after,.swiper-button-next:after {
  color: white;
  font-size: 16px;
  font-weight: 800;
}
.swiper-pagination-bullet{
  background-color: white;
}

@media screen and (max-width:768px) {
  .Allslider .swiper-slide{
    padding: 100px 50px 100px 100px !important;
  }
}

@media screen and (max-width:576px) {
  .Allslider .swiper-slide{
    padding: 100px 50px 100px 50px !important;
  }
}