.video_section{
    margin-top: 1rem;
    
    .big-video-post{
        height: 500px;
        background-size:cover !important;
        display: flex;
        padding: 0 0 30px 30px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;

        span.playIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            font-size: 3.4rem;
        }

        h1{
            color: #fff;
            margin-top: auto;
            font-size: 2.4rem;
        }
    }
    .small-video-post{
        height: 48%;
        background-size:cover !important;
        display: flex;
        padding: 0 0 10px 10px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        
        span.playIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            font-size: 2.4rem;
        }

        h1{
            color: #fff;
            margin-top: auto;
            font-size: 1.4rem;
        }
    }

    .post-4{
        height: 250px;

        .small-video-post2{
            height: 100%;
            background-size:cover !important;
            display: flex;
            padding: 0 0 10px 10px;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
        
            span.playIcon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: white;
                font-size: 2.4rem;
            }
    
            h1{
                color: #fff;
                margin-top: auto;
                font-size: 1.4rem;
            }
        }
    }

    .thumb_img {
        position: relative;
        border-radius: 5px;
        overflow: hidden !important;

        &::after {
            content: "";
            background: rgba(0,0,0,.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        span.playIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            font-size: 2.4rem;
            z-index: 99;
        }
    }
    
    .swiper-container.slider-video{
        width: 100% !important;
        padding-top: 50px !important;
        padding-bottom: 50px !important;

        .swiper-pagination-bullet {
            background-color: black !important;
        }

        .swiper-wrapper{

            .swiper-slide{
                background-position: center !important;
                background-size: cover !important;
                width: 300px !important;
                height: 300px !important;

                .slider_video_post{
                    background-size: cover !important;
                    height: 100% !important;
                    display: flex;
                    padding: 0 0 10px 10px;
                    display: flex;
                    border-radius: 5px;
                    padding: 0 0 10px 10px;

                    span.playIcon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: white;
                        font-size: 2.4rem;
                        z-index: 99;
                    }

                    h5{
                        color: white;
                        margin-top: auto;
                        z-index: 9;
                    }
                }
            }
        }
    }

    .small_video_post2{
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .thumb-img{
            position: relative;
            border-radius: 5px;
            overflow: hidden;

            &:before{
                content: "" !important;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0,0,0,.5);
            }

            img{
                object-fit: cover;
            }
            
            span.playIcon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: white;
                font-size: 2.4rem;
                z-index: 9;
            }
        }
    }
    
}

